// bower:scss
// endbower

@import 'variables';

.browserupgrade {
  margin     : .2em 0;
  padding    : .2em 0;
  background : #ccc;
  color      : #000;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, .50);

  img {
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
  }


}

// Header menu
.header-menu {

  display: relative;
  right: 0;
  margin: 0;
  vertical-align: middle;

  li { display: inline-block; }
}

.header-menu-link {

  display: block;
  padding: 10px px;
  color: #fff;
  text-transform: uppercase;

  img {
    width: 40px;
    height: 40px;
  }
}

.img-ledru { display: none; }

// Slide
.slide { background-size: cover; }

// Slide Bio
.bio { background-image: url('/images/abstract1.jpg'); }

.bio-container {
  padding-top : 150px;
  color       : #fff;
  font-family : $hack;
  font-size   : .8em;
  text-align  : center;
  text-shadow : 0 0 5px #000;

  p {
    margin : 0;
    line-height: 3em;
  }

  a {
    font-family: $hackbold;
  }
}

.arrow-down {
  display    : block;
  width      : 70px;
  margin     : 0 auto;
  margin-top : 100px;

  img {
    width  : 100%;
    height : 100%;
  }
}

// Slide watIdo
.watido {
  overflow: auto;
  background-image: url('/images/abstract2.jpg');
}

.grid {
  margin: 0 auto;
  margin-top: 25px;
}

.grid-item {
  width         : 200px;
  height        : 250px;
  margin-bottom: 10px;
  border        : 3px solid #fff;
  border-radius : 5px;
}

.contact {
  background-image: url('/images/abstract3.jpg');
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
