// bower:scss
// endbower

@import 'variables';
@import 'helpers';
@import 'hack';

// The box sizing
html {
  box-sizing : border-box;
}

*,
*:before,
*:after {
  box-sizing : inherit;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #111 0%,#000 100%);
}

.browserupgrade {
  background-color: #FFF;
  position: absolute;
  z-index:1;
  text-align: center;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url('../images/abstract1.jpg');
  background-size: cover;
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .50);
  z-index: 1;

}

.main {
  color       : #fff;
  font-family : $hack;
  font-size   : .8em;
  text-align  : center;
  text-shadow : 0 0 5px #000;

  p {
    margin: 0;
    line-height: 2em;
  }

  a {
    font-family: $hackbold;
  }
}

.the-guy {

}
.professional-status {
  text-transform: uppercase;
}

.contact-me {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 25px;
}

.contact-me__item {

}

.contact-me__image {
  display: block;
  width: 50px;
}

.contact-me__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.contact-me__link-label {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  .main {
    font-size: 1em;
  }

  .contact-me__link-label {
    display: block;
  }

  .contact-me__item {

  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .main {
    font-size: 1.8em;
  }

  .contact-me__link {
    font-size: 1rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
