/* Media object */
.media {
  display: flex;
  align-items: flex-start;
}
.media-content {
  flex: 1;
  min-width: 0; /* avoid min-width:auto */
}

.media-figure {
  margin-right: 1em;
}

/* Media variants */
.media--reverse {
  flex-direction: row-reverse;
}
.media-figure--center {
  align-self: center;
}
