/*
 * Show warning box
 */

.warning {
  background-color: gold;
  color: black;
}

  .warning--scarybox {
    margin-top: $spacer-medium;
    padding: $spacer-medium;
    background-color: lighten($color-base, 5);
    color: $white;
    border: 3px solid $link-color-hover;
    border-radius: 5px;
  }
