/*
 * Show warning box
 */

.warning {
  background-color: gold;
  color: black;
}

  .warning--scarybox {
    margin-top: $spacer-medium;
    padding: $spacer-medium;
    background-color: lighten($base-color, 5);
    color: $alpha-color;
    border: 3px solid $base-color-link-hover;
    border-radius: 5px;
  }
