/**
 * ARCHIVES
 *
 * List articles in a specific category and tags
 */

.archive-header {
  padding-right: $small-value;
  padding-left: $small-value;
}

.archive-article {
  padding-right: $small-value;
  padding-left: $small-value;
}
