/**
 * ARCHIVES
 *
 * List articles in a specific category and tags
 */

.archive-header {
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}

.archive-article {
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}
