.article {
  background-color: $white;

  &__heading {
    padding-top: $spacer-small;
    padding-right: 0;
    padding-bottom: $spacer-medium-plus;
    padding-left: 0;
  }

  &__title {
    margin-top: $spacer-medium;
    margin-bottom: $spacer-medium;
    padding-right: $spacer-small;
    padding-left: $spacer-small;
    text-align: center;
    color: $link-color;
  }

  &__content {
    padding-top: 0;
    padding-right: $spacer-small;
    padding-bottom: $spacer-large;
    padding-left: $spacer-small;
  }

  @include respond-to("tiny-up") {
    &__content {
      padding-right: $spacer-medium;
      padding-left: $spacer-medium;
    }
  }

  &__date {
    padding-right: $spacer-small;
    padding-left: $spacer-small;
    font-size: 1.6rem;
  }

  &__share {
    margin-top: $spacer-medium;
  }

  &__share svg {
    vertical-align: middle;
  }

  &__share a {
    text-decoration: none;
    padding-left: $spacer-small-plus;
  }
}
