.badge {
  background-color: $base-color-link;
  padding: $spacer-tiny;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  box-shadow: #666 0 2px 5px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.badge--disabled {
  background-color: #999;
  box-shadow: #999 0 2px 5px;
}
