/**
 * BRANDING
 *
 * Page description, title & tagline
 */

 .site-branding {
  padding-bottom: $spacer-medium;
  padding-right: $spacer-small;
  padding-left: $spacer-small;

  @include respond-to("tiny-up") {
    padding-top: $spacer-small;
    padding-bottom: $spacer-medium-plus;
  }

  @include respond-to("small-up") {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-large;
  }
}



.site-description {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  color: $white;
}

@media (min-width: 370px) {
  .site-description {
    width: 370px;
  }
}

.blog-description {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer-small;
  padding-left: $spacer-small;
  padding-bottom: $spacer-medium;

  &__title {
    margin-bottom: 0;
    color: $white;
  }

  &__lodr {
    color: $white;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .blog-description {
    width: 480px; // MAGIC NUMBER
  }
}

// Promotional skills
.promotional-skills {
  padding-bottom: $spacer-medium;

  @include respond-to("tiny-up") {
    padding-top: $spacer-small;
    padding-bottom: $spacer-medium;
  }

  @include respond-to("small-up") {
    display: flex;
    flex-wrap: wrap;
  }
}

.promotional-skill {
  padding: $spacer-small;

  @include respond-to("tiny-up") {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  @include respond-to("small-up") {
    width: 50%;
    padding: $spacer-small-plus;
  }

  @include respond-to("medium-up") {
    padding-right: $spacer-large;
    padding-left: $spacer-large;
  }

  @include respond-to("large-up") {
    width: 25%;
    padding: $spacer-medium;
  }

  &__header {
    align-items: center;
    hyphens: none;

    @include respond-to("medium-up") {
      height: 72px; // MAGIC NUMBER
    }
  }

  &__title {
    margin: 0;
    padding-left: $spacer-small;
    font-size: 2.6rem;
    color: $link-color;
  }
}
