/**
 * BRANDING
 *
 * Page description, title & tagline
 */

.site-branding {
  padding-bottom: $spacer-medium;
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}

@media (max-width: $small) and (min-width: ($tiny + 1)) {
  .site-branding {
    padding-top: $spacer-small;
    padding-bottom: $medium-plus-value;
  }
}

@media (min-width: $small) {
  .site-branding {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-large;
  }
}


.site-description {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  color: $white;
}

@media (min-width: 370px) {
  .site-description {
    width: 370px;
  }
}

.blog-description {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacer-small;
  padding-left: $spacer-small;
  padding-bottom: $spacer-medium;
}

  .blog-description__title {
    margin-bottom: 0;
    color: $white;
  }

  .blog-description__lodr {
    color: $white;
    margin-top: 0;
    margin-bottom: 0;
  }

@media (min-width: 480px) {
  .blog-description {
    width: 480px; // MAGIC NUMBER
  }
}

// Promotional skills
.promotional-skills {
  padding-bottom: $spacer-medium;
}

@media (min-width: $tiny) {
  .promotional-skills {
    padding-top: $spacer-small;
    padding-bottom: $spacer-medium;
  }
}

@media (min-width: $small) {
  .promotional-skills {
    display: flex;
    flex-wrap: wrap;
  }
}

.promotional-skill {
  padding: $spacer-small;
}

@media (min-width: $tiny) {
  .promotional-skill {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $small) {
  .promotional-skill {
    width: 50%;
    padding: $small-plus-value;
  }
}

@media (min-width: $medium) {
  .promotional-skill {
    padding-right: $spacer-large;
    padding-left: $spacer-large;
  }
}

@media (min-width: $large) {
  .promotional-skill {
    width: 25%;
    padding: $spacer-medium;
  }
}
  .promotional-skill__header {
    align-items: center;
    hyphens: none;
  }

  @media (min-width: $medium) {
    .promotional-skill__header {
      height: 72px; // MAGIC NUMBER
    }
  }

  .promotional-skill__title {
    margin: 0;
    padding-left: $spacer-small;
    font-size: 2.6rem;
  }
