/**
 * BUTTONS
 *
 */

.btn {
  position: relative;
  margin: $spacer-tiny;
  padding-top: $spacer-small;
  padding-right: $spacer-large;
  padding-bottom: $spacer-small;
  padding-left: $spacer-large;
  text-align: center;
  background-color: $link-color;
  color: $white;
  text-decoration: none;
  box-shadow: #666 0 2px 5px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  border: 0;

  &:hover {
    background-color: darken($link-color, 5);
    color: $white;
    box-shadow: #999 0 2px 5px;
  }

  &:focus {
    color: $white; // Prevent the default anchor tag color
  }

  &:active {
    top: 2px;
  }
}

// State variant
.btn--disabled {
  border: 1px solid #999;
  background-color: #fff;
  color: #444;
  box-shadow: initial;

  &:focus {
    background-color: #fff;
    color: #444; // Prevent the default anchor tag color
  }
}

// Size variant
.btn--small {
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}

.btn--large {
  margin: $spacer-medium;
  padding-top: $spacer-medium;
  padding-right: $spacer-large-plus;
  padding-left: $spacer-large-plus;
  padding-bottom: $spacer-medium;
}

//Color Variant
.btn--white {
  background-color: $white;
  color: $color-base;

  &:hover {
    background-color: darken($white, 1);
    color: $link-color;
  }
}

// Margin variant
.btn--spaced {
  margin: $spacer-large;
}

.btn--extra-spaced {
  margin: $spacer-extra-large;
}

.btn--top-spaced {
  margin-top: $spacer-large;
}

// Color variant
.btn--lightgrey {
  background-color: $beta-background;

  &:hover {
    background-color: darken($beta-background, 5);
  }
}

.btn--grey {
  background-color: $alpha-background;

  &:hover {
    background-color: darken($alpha-background, 5);
  }
}

.btn--darkgrey {
  background-color: $gamma-background;

  &:hover {
    background-color: darken($gamma-background, 5);
  }
}

// Other variant
.btn--rounded {
  border-radius: 3px;
}

.btn--centered {
  // Needs to be in a flex container
  margin-right: auto;
  margin-left: auto;
}

.btn--no-box-shadow {
  box-shadow: none;
}
