article .category-webdev:before {
  display: inline-block;
  content: "";
  height: 20px;
  width: 20px;
  margin-right: $tiny-value;
  vertical-align: text-bottom;
  background-image: url("img/develop-tiny.svg");
}
