/**
 * BUTTONS
 *
 */

.btn {
  display: block;
  text-align: center;
  background-color: $base-color-link;
  color: $alpha-color;
  text-decoration: none;

  &:hover {
    color: $alpha-color;
  }
}
