.last-articles {
  padding: $small-value;
}

  .last-articles__heading-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .last-articles__heading {
    margin: 0;
    padding-right: $small-value
  }

  .last-articles__heading-trail {
    display: none;
    flex-grow: 1;
    height: 2px;
    background-color: $base_color;
  }

  .last-articles__date {

  }

  .last-articles__title {
    margin: 0;
  }

  .last-articles__title > a {
    padding-top: $small-value;
    padding-right: 0;
    padding-bottom: $small-value;
    padding-left: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
