.comments-area {
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;

  ul {
    padding-left: 2em;
    list-style-type: none;
  }
}

.comment-list .odd {
  // background-color: #333;
}

.comment-list .even {
  // background-color: #666;
}

.comment-body {
  margin-bottom: $spacer-large;
}

.children .comment-body {
  margin-bottom: $spacer-medium;
}

.comment-respond {
  padding-bottom: $spacer-large;
}

.comment-form textarea,
.comment-form input {
  border: 1px solid #666;
  border-radius: 3px;
  background-color: $alpha-color;
}

.form-submit > input {
  margin-top: $spacer-medium;
  padding: $spacer-small;
  background-color: $base-color-link;
  color: $alpha-color;
}
