.last-articles {
  padding: 1rem;
}

.last-articles__heading-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.last-articles__heading {
  font-weight: normal;
  margin: 0;
  padding-right: 1rem;
}

.last-articles__heading-trail {
  display: none;
  height: 2px;
  flex-grow: 1;
  background-color: $base_color;
}

.last-articles__date {

}

.last-articles__title {
  margin: 0;
  font-weight: normal;
}

.last-articles__title > a {
  text-decoration: none;
  font-weight: normal;
  padding: 1rem 0;

  &:hover {
    text-decoration: underline;
  }
}
