/**
 * 404
 *
 * Rverything 404 related
 */

.error-404 {
  margin-top: $medium-value;
  margin-bottom: $large-value;
}

.error-404__title { text-align: center; }

.the-dreaded-word { display: block; }
