.page-footer {
  color: $alpha-color;
  padding-bottom: $large-value;
}

.page-footer blockquote:before {
  color: rgba(68, 163, 64, .75);
}

.page-footer__item {
  background-color: $alpha-background;
  margin-bottom: $medium-value;
  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tiny) {
  .page-footer__item {
    margin-bottom: 0;
  }
}

.keypages__title {
  margin-bottom: $small-value;
}
