/**
 * SEARCH
 *
 * Search Pages result
 */

 .search-content {
   max-width: 800px;
   padding-top: $medium-value;
   padding-right: $medium-value;
   padding-left: $medium-value;
   margin-right: auto;
   margin-left: auto;
 }

.no-results {
  margin-top: $large-value;
  margin-bottom: $large-value;
}

.search-read-more__link {
  text-transform: none;

  &:hover {
    text-transform: underline;
  }
}
