/**
 * Sidebars & Widget
 *
 * Styles for sidebars & widgets
 */
.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: $medium-value;
  padding-right: $small-value;
  padding-bottom: $small-value;
  padding-left: $small-value;
  background-color: $alpha-color;
}
