/**
 * BRANDING
 *
 * Page description, title & tagline
 */

.site-branding {
  padding-bottom: $medium-value;
}

@media (max-width: $small) and (min-width: ($tiny + 1)) {
  .site-branding {
    padding-top: $small-value;
    padding-bottom: $medium-plus-value;
  }
}

@media (min-width: $small) {
  .site-branding {
    padding-top: $medium-value;
    padding-bottom: $large-value;
  }
}


.site-description {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-right: $small-value;
  padding-left: $small-value;
  color: $alpha-color;
}

@media (min-width: 370px) { // 370px
  .site-description {
    width: 370px;
  }
}

@media (min-width: $small) {
  .site-description {
    width: 370px;
  }
}

// Promotional skills
.promotional-skills {
  padding-bottom: $medium-value;
}

@media (min-width: $tiny) {
  .promotional-skills {
    padding-top: $small-value;
    padding-bottom: $medium-value;
  }
}

@media (min-width: $small) {
  .promotional-skills {
    display: flex;
    flex-wrap: wrap;
  }
}

.promotional-skill {
  padding: $small-value;
}

@media (min-width: $tiny) {
  .promotional-skill {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: $small) {
  .promotional-skill {
    width: 50%;
    padding: $small-plus-value;
  }
}

@media (min-width: $medium) {
  .promotional-skill {
    padding-right: $large-value;
    padding-left: $large-value;
  }
}

@media (min-width: $large) {
  .promotional-skill {
    width: 25%;
    padding: $medium-value;
  }
}
  .promotional-skill__header {
    align-items: center;
    hyphens: none;
  }

  @media (min-width: $medium) {
    .promotional-skill__header {
      height: 72px; // MAGIC NUMBER
    }
  }

  .promotional-skill__title {
    margin: 0;
    padding-left: $small-value;
  }
