/**
 * NAVIGATION
 *
 * Styles for navigations & Wordpress menus
 */

// Specific Navigation styling
.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 41.6em) { // 666px
  .site-nav {
    /* Totaly not a magic number since it's the number of the beast */
    width: 666px;
  }
}

  .site-nav__home {
    display: block;
    padding: $small-value;
    text-transform: uppercase;
    font-family: hack;
    font-size: $h2-size;
    text-decoration: none;
  }

  .site-nav__site-name {
    display: none;
  }

  .site-nav__logo {
    vertical-align: middle;
  }

// General Wordpress menu styling
.menu-item > a {
  display: inline-block;
}

// Specific Wordpress menu styling
.primary-menu {
  display: flex;
  margin: 0;
  flex: 1;
  justify-content: flex-end;

  a {
    padding-top: $medium-value;
    padding-bottom: $medium-value;
    padding-right: $small-value;
    padding-left: $small-value;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .menu-item:first-child {
    display: none;
  }

  .menu-item:last-child {
    display: none;
  }
}

@media (min-width: 25em) { // 400px
  .primary-menu {
    .menu-item:first-child {
      display: block;
    }
  }
}

@media (min-width: 32em) { // 480px
  .primary-menu {
    a {
      font-size: 2rem;
    }

    .menu-item:last-child {
      display: block;
    }
  }
}

@media (min-width: 35em) { // 560px
  .primary-menu {
  }
}

// Blog Category list
.category-nav {
  background-color: $beta-background;
}

.category-nav--single > a {

}

.category-nav__link {
  display: block;
}

// Blog Tag list
.tag-nav {
  background-color: $beta-background;
}

.tag-nav--single {

}

.tag-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-nav__list--single {
  justify-content: flex-start;
  line-height: 1;
}

.tag-nav__title {
  padding-right: $small-value;
  padding-left: $small-value;
}

.tag-nav__link {
  display: inline-block;
  padding: $small-value;
  margin: $tiny-value;
  background-color: $alpha-color;
  color: $base-color;
  text-decoration: none;

  &:hover {
    color: $base-color-link;
  }
}

// Key pages navigation list
.menu-keypages-container > ul {
  list-style: none;
  padding-left: 0;
}

.menu-keypages-container a {
  padding: $tiny-value;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
