/**
 * BRANDING
 *
 * Page description, title & tagline
 */

.site-branding {
  padding-bottom: $medium-value;
}

@media (max-width: $small) and (min-width: ($tiny + 1)) {
  .site-branding {
    padding-top: $small-value;
    padding-bottom: $medium-plus-value;
  }
}

@media (min-width: $small) {
  .site-branding {
    padding-top: $medium-value;
    padding-bottom: $large-value;
  }
}


.site-description {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0rem;
  padding-right: $small-value;
  padding-left: $small-value;
  color: $alpha-color;
}

@media (min-width: 370px) { // 370px
  .site-description {
    width: 370px;
  }
}

// Promotional skills
.promotional-skill {
  padding: $small-value;
}

@media (min-width: $tiny) {
  .promotional-skill {
    width: 50%;
  }
}

@media (min-width: $medium) {
  .promotional-skill {
    width: 25%;
  }
}
  .promotional-skill__header {
    align-items: center;
    hyphens: none;
  }

  .promotional-skill__title {
    margin: 0;
    padding-left: $small-value;
  }
