/**
 * BUTTONS
 *
 */

.btn {
  margin: $tiny-value;
  padding-top: $small-value;
  padding-right: $large-value;
  padding-bottom: $small-value;
  padding-left: $large-value;
  text-align: center;
  background-color: $base-color-link;
  color: $alpha-color;
  text-decoration: none;

  &:hover {
    background-color: darken($base-color-link, 5);
    color: $alpha-color;
    font-weight: bold;
  }
}

// Size variant
.btn--large {
  margin: $medium-value;
  padding-top: $medium-value;
  padding-right: $large-plus-value;
  padding-left: $large-plus-value;
  padding-bottom: $medium-value;
}

.btn--spaced {
  margin: $large-value;
}

.btn--extra-spaced {
  margin: $extra-large-value;
}

.btn--top-spaced {
  margin-top: $large-value;
}

.btn--rounded {
  border-radius: 3px;
}



.btn--centered {
  margin-right: auto;
  margin-left: auto;
}

// Color variant
.btn--lightgrey {
  background-color: $beta-background;

  &:hover {
    background-color: darken($beta-background, 5);
  }
}

.btn--grey {
  background-color: $alpha-background;

  &:hover {
    background-color: darken($alpha-background, 5);
  }
}

.btn--darkgrey {
  background-color: $gamma-background;

  &:hover {
    background-color: darken($gamma-background, 5);
  }
}
