/**
 * BRANDING
 *
 * Page description, title & tagline
 */
.site-description {
  margin: 0;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  color: $alpha-color;
}

// Promotional skills
.promotional-skills {
  padding: 1rem;
}

  .promotional-skills__header {
    align-items: center;
    hyphens: none;
  }

  .promotional-skills__title {
    margin: 0;
    padding-left: 1rem;
  }
