/**
 * NAVIGATION
 *
 * Styles for navigations & Wordpress menus
 */
.site.nav {
  /*align-items: flex-end;*/
}

// Specific Navigation styling
.site-nav__home {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-family: hack;
  font-size: $h2-size;
  color: $headings-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// General Wordpress menu styling
.menu {
  margin-top: 0.75rem;
  flex-grow: 1;
  justify-content: flex-end;
}

.menu-item > a {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  color: $headings-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Specific Wordpress Menu styling
.primary-menu {
  /*font-size: $h5-size;*/
}
