.page-footer {
  color: $alpha-color;
  padding-bottom: $large-value;
}

@media (min-width: $small) {
  .page-footer .has-gutter > *:not(:first-child) {
    margin-left: $medium-value;
  }
}

  .page-footer__column {
    background-color: $alpha-background;
    margin-bottom: $medium-value;
  }

  @media (min-width: $tiny) {
    .page-footer__column {
      margin-bottom: auto;
    }
  }

  .page-footer__item {
    background-color: $alpha-background;
    margin-bottom: $small-value;
  }

  @media (min-width: $small) {
    .page-footer__item {
      margin-bottom: $medium-value;
    }
  }

  .keypages__title {
    margin-bottom: $small-value;
  }

.widget-colophon {
  margin-bottom: $tiny-value;
}
