/**
 * Sidebars & Widget
 *
 * Styles for sidebars & widgets
 */
.sidebar {
  padding-top: $medium-value;
  padding-right: $small-value;
  padding-bottom: $small-value;
  padding-left: $small-value;
  background-color: $alpha-color;
  margin-bottom: auto;
}

@media (min-width: $tiny) {
  .sidebar {
    padding-right: $large-value;
    padding-left: $large-value;
  }
}

@media (min-width: $small) {
  .home-sidebar {
    width: 400px;
    margin-top: 3.9rem; // FAT MAGIC NUMBER for design purpose of course
    border-top: 1px solid $base-color;
  }
}

@media (min-width: $large) {
  .home-sidebar {
    margin-top: 6.8rem; // UBER FAT MAGIC NUMBER off by one magical pixel (╯°□°）╯︵ ┻━┻
  }
}

@media (min-width: $medium) {
  .blog-sidebar {
    width: 400px;
  }
}
