.post-list {
  display: flex;
}

  .post-list__item {
    margin: 0;
    padding: 1rem;
    background-color: transparent;
  }

  .post-list__title a {
    text-decoration: none;
  }

.post-list .has-post-thumbnail {
  background-position: center;
  background-size: cover;
  color: $alpha-color;
  text-shadow: 0px 0px 5px #000;

  .post-list__title > a {
    color: $alpha-color;

    &:hover {
      color: $base-color-link-hover;
    }
  }
}
