.article-separator {
  margin: $medium-plus-value 0;
}

.skulled-separator {
  display: flex;
  align-items: center;
}

  .skulled-separator__line {
    flex: 1;
    height: 1px;
    background-color: $base-color;
  }

  .skulled-separator__image {
    margin-top: 0;
    margin-right: $small-value;
    margin-bottom: 0;
    margin-left: $small-value;
  }
