/**
 * BUTTONS
 *
 */

.btn {
  display: inline-block;
  margin: $tiny-value;
  padding: $small-value;
  text-align: center;
  background-color: $base-color-link;
  color: $alpha-color;
  text-decoration: none;

  &:hover {
    background-color: darken($base-color-link, 5);
    color: $alpha-color;
    font-weight: bold;
  }
}

.btn--rounded {
  border-radius: 3px;
}

.btn--inline {
  display: inline-block;
  margin: $tiny-value;
}

.btn--centered {
  margin-right: auto;
  margin-left: auto;
  padding-right: $large-value;
  padding-left: $large-value;
}

// Color variant
.btn--lightgrey {
  background-color: $beta-background;

  &:hover {
    background-color: darken($beta-background, 5);
  }
}

.btn--grey {
  background-color: $alpha-background;

  &:hover {
    background-color: darken($alpha-background, 5);
  }
}

.btn--darkgrey {
  background-color: $gamma-background;

  &:hover {
    background-color: darken($gamma-background, 5);
  }
}

.btn--top-spaced {
  margin-top: $large-value;
}

.btn--contact-mail {
  margin-top: $medium-value;
}

@media (min-width: $tiny) {
  .btn--contact-mail {
    margin-right: $large-plus-value;
    margin-left: $large-plus-value;
  }
}

@media(min-width:$small) {
  .btn--contact-mail {
    margin-right: $medium-value;
    margin-left: $medium-value;
  }
}

.btn--back-to-top {
  margin-top: $large-value;
  margin-right: $medium-value;
  margin-bottom: 0;
  margin-left: $medium-value;
}
