/**
 * BAND
 *
 * Container that have diferent backgroung color based on the theme design
 */

.band {
  background-color: $alpha-background;
}

.band--lightgrey {
  background-color: $beta-background;
}

.band--darkgrey {
  background-color: $gamma-background;
}

.band--tiled-background {
  background-image: url("img/skullmasherio-tile.png");
}

.band--tiled-gradient-background {
  background-image: linear-gradient(rgba(22,22,22,1), rgba(0,0,0,0)), url("img/skullmasherio-tile.png");
}
