.article-separator {
  margin: 1.5em 0;

  &:last-of-type {
    display: none;
  }
}

.skulled-separator {
  display: flex;
  align-items: center;
}

.skulled-separator__line {
  flex-grow: 1;
  height: 2px;
  background-color: $base-color;
}

.skulled-separator__image {
  margin-top: 0;
  margin-right: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
}
