.last-articles {
  padding: $small-value;
}

@media (min-width: $tiny) {
  .last-articles {
    flex: 1;
    padding-right: 0;
    padding-left: $large-value;
    padding-bottom: $small-value;
  }
}


@media (min-width: $large) {
  .last-articles {
    padding-top: $large-value;
  }

}

  .last-articles__heading-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .last-articles__heading {
    margin: 0;
    padding-right: $small-value
  }

  .last-articles__heading-trail {
    display: none;
    flex: 1;
    height: 1px;
    background-color: $base_color;
  }

  @media(min-width:$small) {
    .last-articles__heading-trail {
      display: block;
    }
  }

  .last-articles__article-container {
    padding-right: 0;

    &:last-of-type .article-separator {
      display: none;
    }
  }

  @media (min-width: $tiny) {
    .last-articles__article-container {
      padding-right: $large-value;
    }
  }

  @media (min-width: $large) {
    .last-articles__article-container {
      padding-right: $extra-large-value;
    }
  }

  .last-articles__date {

  }

  .last-articles__title {
    margin: 0;
  }

  .last-articles__title > a {
    padding-top: $small-value;
    padding-right: 0;
    padding-bottom: $small-value;
    padding-left: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
