.last-articles {
  padding: $spacer-small;
}

@media (min-width: $tiny) {
  .last-articles {
    flex: 1;
    padding-right: 0;
    padding-left: $spacer-large;
  }
}

@media (min-width: $small) {
  .last-articles {
    padding-bottom: $large-plus-value;
  }
}

@media (min-width: $large) {
  .last-articles {
    padding-top: $spacer-large;
  }

}

  .last-articles__heading-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .last-articles__heading {
    margin: 0;
    padding-right: $spacer-small
  }

  .last-articles__article-container {
    margin-bottom: 0;
    padding-right: 0;

    &:last-of-type .article-separator {
      display: none;
    }
  }

  @media (min-width: $tiny) {
    .last-articles__article-container {
      padding-right: $spacer-large;
    }
  }

  @media (min-width: $large) {
    .last-articles__article-container {
      padding-right: $extra-large-value;
    }
  }

  .last-articles__date {

  }

  .last-articles__title {
    margin: 0;
  }

  .last-articles__title > a {
    padding-top: $spacer-small;
    padding-right: 0;
    padding-bottom: $spacer-small;
    padding-left: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
