.last-articles {
  padding: $spacer-small;

  @include respond-to("tiny-up") {
    flex: 1;
    padding-right: 0;
    padding-left: $spacer-large;
  }

  @include respond-to("small-up") {
    padding-bottom: $spacer-large-plus;
  }

  @include respond-to("large-up") {
    padding-top: $spacer-large;
  }
  &__heading-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__heading {
    margin: 0;
    padding-right: $spacer-small
  }

  &__article-container {
    margin-bottom: 0;
    padding-right: 0;

    @include respond-to("tiny-up") {
      padding-right: $spacer-large;
    }

    @include respond-to("large-up") {
      padding-right: $spacer-extra-large;
    }

    &:last-of-type .article-separator {
      display: none;
    }
  }



  &__date {

  }

  &__title {
    margin: 0;
  }

  &__title > a {
    padding-top: $spacer-small;
    padding-right: 0;
    padding-bottom: $spacer-small;
    padding-left: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

