.last-articles {
  padding-top: $spacer-small;
  padding-right: $spacer-small;
  padding-bottom: $spacer-medium;
  padding-left: $spacer-small;

  @include respond-to("tiny-up") {
    flex: 1;
    padding-right: 0;
    padding-left: $spacer-large;
  }

  @include respond-to("small-up") {
    padding-bottom: $spacer-large-plus;
  }

  @include respond-to("large-up") {
    padding-top: $spacer-large;
  }

  &__heading-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__heading {
    margin: 0;
    padding-right: $spacer-small
  }

  &__article-container {
    margin-bottom: 0;
    padding-right: 0;

    @include respond-to("tiny-up") {
      padding-right: $spacer-large;
    }

    @include respond-to("large-up") {
      padding-right: $spacer-extra-large;
    }

    &:last-of-type .separator {
      display: none;
    }
  }

  &__title {
    @include font-size(h3);
  }

  &__date {
    color: $gray-600;
  }
}
