/**
 * NAVIGATION
 *
 * Styles for navigations & Wordpress menus
 */

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__home {
    display: block;
    padding-top: $spacer-small;
    padding-right: $spacer-small;
    padding-bottom: 0;
    padding-left: $spacer-small;
    text-transform: uppercase;
    font-family: hack;
    @include font-size(h2);
    text-decoration: none;
  }

  &__site-name {
    display: none;
  }

  &__logo {
    vertical-align: middle;
  }
}

@media (min-width: 41.6em) { // 666px
  .site-nav {
    width: 666px; // The number of the beast !
  }

}

.single-post .site-nav__home {
  padding-bottom: $spacer-small;
}


// General Wordpress menu styling
.menu-item > a {
  display: inline-block;
}

// Specific Wordpress menu styling
.primary-menu {
  display: flex;
  margin: 0;
  flex: 1;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-medium;
    padding-right: $spacer-small;
    padding-left: $spacer-small;
    text-decoration: none;
    font-size: 2rem;
    color: $white;

    &:hover {
      color: $link-color-hover;
    }
  }

  .menu-item:first-child {
    display: none;
  }

  .menu-item:last-child {
    display: none;
  }
}

// Showing the first item of the menu when there is enough space
@media (min-width: 27em) {
  .primary-menu {
    .menu-item:first-child {
      display: block;
    }
  }
}

// Showing the last item of the menu when there is enough space
@media (min-width: 33em) {
  .primary-menu {
    .menu-item:last-child {
      display: block;
    }
  }
}

/*
 * Category and tag list
 */
.category-nav__list,
.tag-nav__list {
  justify-content: center;
}

.category-nav__title,
.tag-nav__title {
  text-align: center;
}

// Category list
.category-nav__link {
  vertical-align: middle;
}

// Blog Tag list
.tag-nav__list--single {
  justify-content: flex-start;
  line-height: 1;
}

.tag-nav__title {
  padding-right: $spacer-small;
  padding-left: $spacer-small;
}

/*
 * Key pages navigation list
 */
.menu-keypages-container > ul {
  list-style: none;
  padding-left: 0;
}

.menu-keypages-container a {
  padding: $spacer-tiny;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
 * Devis Nav
 */
.devis-nav {
 display: flex;
 align-items: baseline;
 justify-content: space-around;
 background-color: $white;
 @include font-size(h1);
 text-align: center;
 box-shadow: #666 0 0px 0px;
 transition: box-shadow 0.2s ease;

 .svg-stopwatch {
   width: 50px;
   height: 50px;
 }

 &--fixed {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1;
   box-shadow: #666 0 2px 5px;
 }
}
