.page-footer {
  color: $alpha-color;
}

@media (min-width: $small) {
  .page-footer .has-gutter > *:not(:first-child) {
    margin-left: $spacer-medium;
  }
}

  .page-footer__column {
    background-color: $alpha-background;
    margin-bottom: $spacer-medium;
  }

  @media (min-width: $tiny) {
    .page-footer__column {
      margin-bottom: auto;
    }
  }

  .page-footer__item {
    background-color: $alpha-background;
    margin-bottom: $spacer-small;
  }

  @media (min-width: $small) {
    .page-footer__item {
      margin-bottom: $spacer-medium;
    }
  }

  .keypages__title {
    margin-bottom: $spacer-small;
  }

.widget-colophon {
  margin-bottom: $spacer-tiny;
}
