/**
 * PAGE HEADER
 *
 */
.page-header {
  position: relative;
  background-image: url('img/skullmasherio-tile.png');
  color: $alpha-color;
}

.page-header--single-page {
  padding-bottom: $spacer-small;
}
