.pagination {
  padding-top: $spacer-medium;
  padding-right: $spacer-tiny;
  padding-bottom: $spacer-medium;
  padding-left: $spacer-tiny;
}

@media (min-width: $tiny) {
  .pagination {
    padding-top: $medium-plus-value;
    padding-bottom: $medium-plus-value;
  }
}

@media (min-width: $small) {
  .pagination {
    padding-top: $spacer-large;
    padding-bottom: $spacer-large;
  }
}

.pagination .nav-links {
  display: flex;
  justify-content: center;
}

/* Single post navigation */
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
}

.post-navigation .nav-previous, .post-navigation .nav-next {
  float: none;
  width: auto;
}

.post-navigation .nav-next {
  padding-top: $spacer-medium;
}

/* Blog page navigation */
.page-numbers {
  margin-left: $spacer-tiny;
  padding: $spacer-tiny;
  background-color: $link-color;
  color: $white;
  text-decoration: none;

  &:hover {
    background-color: darken($link-color, 5);
    color: $white;
    font-weight: bold;
  }
}

.prev:before {
    content: '<';
    padding-right: 2px;
    font-weight: bold;
}

@media (min-width: $tiny) {
  .prev:before {
      content: '< Précedant';
  }
}

@media (min-width: $small) {
  .prev:before {
      content: '< Articles Précedant';
  }
}

.next:after {
    content: '>';
    font-weight: bold;
    padding-left: 2px;
}

@media (min-width: $tiny) {
  .next:after {
      content: 'Suivant >';
  }
}

@media (min-width: $small) {
  .next:after {
      content: 'Articles Suivant >';
  }
}

.current, .dots {
  background-color: transparent;
  color: $color-base;

  &:hover {
    background-color: transparent;
    color: $color-base;
    font-weight: normal;
  }
}
