.page-footer {
  color: $white;

  &__column {
    background-color: $gray-900;
    margin-bottom: $spacer-medium;

    @include respond-to("tiny-up") {
      margin-bottom: auto;
    }
  }

  &__item {
    background-color: $gray-900;
    margin-bottom: $spacer-medium;
  }
}

.keypages__title {
  margin-bottom: $spacer-small;
}

.widget-colophon {
  margin-bottom: $spacer-tiny;
}
