.post-list {
  /*align-items: stretch;*/
}

  .post-list__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: $small-value;
    background-color: $beta-background;
  }

  .post-list__title {
    flex: 1;
    margin-bottom: $small-value;

    a {
        text-decoration: none;
    }
  }

  .post-list__meta {
    justify-content: space-between;
  }

.sticky {
  flex: 0 0 auto; // full width
  width: calc(100% - .01px); // full width
  padding-left: $large-value;
  background-color: $base-color-link;
  color: $alpha-color;
  text-shadow: 0px 0px 5px #000;

  a {
    color: $alpha-color;

    &:hover {
      color: $base-color-link-hover;
      text-shadow: none;
    }
  }
}

@media (min-width: $tiny) {
  .sticky {
    padding-left: $extra-large-plus-value;
  }
}

.post-list .has-post-thumbnail {
  background-position: center;
  background-size: cover;
  color: $alpha-color;
  text-shadow: 0px 0px 5px #000;

  a {
    color: $alpha-color;

    &:hover {
      color: $base-color-link-hover;
    }
  }
}
