.separator {
  margin: $medium-plus-value 0;
}

.separator--trimed {
  margin-right: 16.66%;
  margin-left: 16.66%;
}

.separator--search-result {
  margin-top: $spacer-medium;
  margin-bottom: 0;
}

.skulled-separator {
  display: flex;
  align-items: center;
}

  .skulled-separator__line {
    flex: 1;
    height: 1px;
    background-color: $base-color;
  }

  .skulled-separator__image {
    margin-top: 0;
    margin-right: $spacer-small;
    margin-bottom: 0;
    margin-left: $spacer-small;
  }
