.separator {
  margin-top: $spacer-medium-plus;
  margin-right: 0;
  margin-bottom: $spacer-medium-plus;
  margin-left: 0;
}

.separator--trimed {
  margin-right: 16.66%;
  margin-left: 16.66%;
}

.separator--search-result {
  margin-top: $spacer-medium;
  margin-bottom: 0;
}

.skulled-separator {
  display: flex;
  align-items: center;

  &__line {
    flex: 1;
    height: 1px;
    background-color: $color-base;
  }

  &__image {
    margin-top: 0;
    margin-right: $spacer-small;
    margin-bottom: 0;
    margin-left: $spacer-small;
  }
}

