/**
 * Sidebars & Widget
 *
 * Styles for sidebars & widgets
 */
.sidebar {
  padding-top: $spacer-medium;
  padding-right: $spacer-small;
  padding-bottom: $spacer-small;
  padding-left: $spacer-small;
  background-color: $alpha-color;
  margin-bottom: auto;
}

@media (min-width: $tiny) {
  .sidebar {
    padding-right: $spacer-large;
    padding-left: $spacer-large;
  }
}

// need refactor to BEM
@media (min-width: $small) {
  .home-sidebar {
    width: 400px;
    margin-top: 3.9rem; // fat MAGIC NUMBER for design purpose of course
    border-top: 1px solid $base-color;
  }
}

@media (min-width: $large) {
  .home-sidebar {
    margin-top: 6.8rem; // uber fat MAGIC NUMBER
  }
}

// Need refactor BEM
.blog-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: $spacer-large;
}

@media (min-width: $extra-large) {
  .blog-sidebar { width: 400px; }
}

.sidebar--search {
  display: flex;
  flex-direction: column;
}

@media (min-width: $medium) {
  .sidebar--search { width: 400px; }
}
