/**
 * Sidebars & Widget
 *
 * Styles for sidebars & widgets
 */
.sidebar {
  padding-top: $spacer-medium;
  padding-right: $spacer-small;
  padding-bottom: $spacer-medium;
  padding-left: $spacer-small;
  background-color: $white;
  margin-bottom: auto;
}

@media (min-width: $tiny) {
  .sidebar {
    padding-right: $spacer-large;
    padding-left: $spacer-large;
  }
}

.home-sidebar {
  box-shadow : 0 5px 14px rgba(0, 0, 0, 0.47), 0 9px 21px rgba(0, 0, 0, 0.22);

  @include respond-to("medium-up") {
    width: 400px;
    margin-top: 3.9rem; // fat MAGIC NUMBER for design purpose of course
    border-top: 1px solid $color-base;
  }

  @include respond-to("large-up") {
    margin-top: 6.8rem; // uber fat MAGIC NUMBER
  }
}

.blog-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: $spacer-large;

  @include respond-to("extra-large-up") {
    width: 400px;
  }
}

.sidebar--search {
  display: flex;
  flex-direction: column;

  @include respond-to("medium-up") {
    width: 400px;
  }
}

.worktogether {
  margin-bottom: $spacer-medium;
}
