/**
 * The social bar is automaticaly centered if in a flex container
 */

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
