// Toggle https://codepen.io/callmenick/pen/eempxv <- My man !
$toggle-knob-d: 2.5rem;
$toggle-knob-r: $toggle-knob-d/2;
$toggle-box-p: 0.5rem;
$toggle-box-b: 0.5rem;
$toggle-box-o: $toggle-box-p + $toggle-box-b;
$toggle-box-w: $toggle-knob-d*2 + $toggle-box-o*2;
$toggle-box-h: $toggle-knob-d + $toggle-box-o*2;
$toggle-box-r: $toggle-box-h/2;

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + .toggle-label {
  position: relative;
  display: block;
  width: $toggle-box-w;
  height: $toggle-box-h;
  background-color: #fff;
  font-size: 0px;
  text-indent: -9999px;
  border-radius: $toggle-box-r;
  box-shadow: inset 0 0 0 $toggle-box-b #999;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: box-shadow 0.3s;
}

.toggle + .toggle-label::before {
  position: absolute;
  top: $toggle-box-o;
  left: $toggle-box-o;
  display: block;
  width: $toggle-knob-d;
  height: $toggle-knob-d;
  background-color: #999;
  border-radius: $toggle-knob-r;
  content: "";
  transition: background 0.3s, transform 0.3s;
}

.toggle:checked + .toggle-label {
  box-shadow: inset 0 0 0 $toggle-box-b $link-color;
}

.toggle:checked + .toggle-label::before {
  background-color: $link-color;
  transform: translateX($toggle-knob-d);
}
