// Config file and project variables

// font sizes
$base-font-size : 1.8rem !default; // ex. 1.4rem would be "14px" equivalent
$line-height    : 1.5 !default;
$h1-size        : 3rem !default;
$h2-size        : 2.4rem !default;
$h3-size        : 2.4rem !default;
$h4-size        : 2.0rem !default;
$h5-size        : 1.8rem !default;
$h6-size        : 1.6rem !default;

// font stacks
$font-stack-common    : lato, sans-serif !default; // common font
$font-stack-headings  : lato, sans-serif !default; // headings font
$font-stack-monospace : hack, consolas, courier, monospace !default; // monospace font

// font colors
$base-color             : #262626 !default; // text color on body and content
$alpha-color            : #fff !default; // text color on primary elements
$beta-color             : #262626 !default; // text color on secondary elements
$base-color-link        : #44a340 !default; // base links color
$headings-color         : $base-color-link !default; // text color on headings
$headings-1-color       : $base-color-link !default; // text color on headings level 1
$headings-2-color       : $base-color-link !default; // text color on headings level 2
$headings-3-color       : $base-color-link !default; // text color on headings level 3
$base-color-link-hover  : #e71d36 !default; // base hovered/focused links color
$sreenreader-color      : #21759b !default; // text color for screen reader skip link

// backgrounds
$content-background      : #fafafa !default; // page content background
$base-background         : $content-background !default; // body background color
$alpha-background        : #202020 !default; // primary elements background color
$beta-background         : #eeeeee !default; // secondary elements background color
$gamma-background        : #161616 !default; // thertiary elements background color
$screenreader-background : #f1f1f1 !default; // background for screen reader skip link

// spacings (choose unit you prefer)
$tiny-value             : .5rem !default; // tiny value for margins / paddings
$tiny-plus-value        : .7rem !default; // tiny+ value for margins / paddings
$small-value            : 1rem !default; // small value for margins / paddings
$small-plus-value       : 1.5rem !default; // small+ value for margins / paddings
$medium-value           : 2rem !default; // medium value for margins / paddings
$medium-plus-value      : 3rem !default; // medium+ value for margins / paddings
$large-value            : 4rem !default; // large value for margins / paddings
$large-plus-value       : 6rem !default; // large value for margins / paddings
$extra-large-value      : 8rem !default; // extra large value for margins / paddings
$extra-large-plus-value : 12rem !default; // extra large value for margins / paddings
$ultra-large-value      : 16rem !default; // ultra large value for margins / paddings
$ultra-large-plus-value : 20rem !default; // ultra large value for margins / paddings

//kna-namespace (default : null)
$kna-namespace: null !default;
