/**
 * WRAPPERS
 *
 * Page-level constraining and wrapping elements.
 */

$wrapper-width: 1100px !default;

.o-wrapper {
  max-width: $wrapper-width;
  margin-right: auto;
  margin-left: auto;
}

// Size Variants
