/**
 * WRAPPERS
 *
 * Page-level constraining and wrapping elements.
 * Em for media queries based on https://zellwk.com/blog/media-query-units/
 */

/*$wrapper-width: 1100px !default;*/
/*$wrapper-width: 110rem !default;*/
$wrapper-width: 61.111em !default;
$wrapper-width-medium : 1300px;
$wrapper-width-large: 88.889em !default; // 1600px
$wrapper-width-huge: 100em !default; // 1800px

.o-wrapper {
  max-width: $wrapper-width;
  margin-right: auto;
  margin-left: auto;
}

// Size Variants
.o-wrapper--medium {
  max-width: $wrapper-width-medium;
}

.o-wrapper--large {
  max-width: $wrapper-width-large;
}

.o-wrapper--huge {
  max-width: $wrapper-width-huge;
}
